#birthdayPerson {
  background-color: aqua;
  color: black;
  height: auto;
  width: 200px;
}

#giftCard {
  background-color: blueviolet;
  color: black;
  height: auto;
  width: 200px;
}

#birthdayName {
  background-color: chartreuse;
  color: black;
  height: auto;
  width: 200px;
}

#birthdayDate {
    background-color: chocolate;
    color: black;
    height: auto;
    Width: 200px;
}

#enter {
  background-color: darkslategray;
  color: black;
  height: auto;
  width: 200px;
}

